*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0f172a,#2563eb);

}

.container{

width:1000px;

height:600px;

background:white;

display:flex;

border-radius:20px;

overflow:hidden;

box-shadow:0 15px 40px rgba(0,0,0,.3);

}

.left{

flex:1;

background:#2563eb;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:40px;

}

.left h1{

font-size:40px;

margin-bottom:20px;

}

.left p{

text-align:center;

margin-bottom:30px;

}

.left img{

width:80%;

}

.right{

flex:1;

display:flex;

justify-content:center;

align-items:center;

}

.login-card{

width:380px;

}

.login-card h2{

text-align:center;

margin-bottom:30px;

}

.inputBox{

margin-bottom:20px;

}

.inputBox label{

display:block;

margin-bottom:8px;

font-weight:600;

}

.inputBox input{

width:100%;

padding:12px;

border:1px solid #ccc;

border-radius:8px;

font-size:16px;

}

.passwordBox{

display:flex;

}

.passwordBox input{

border-radius:8px 0 0 8px;

}

.passwordBox button{

width:60px;

border:none;

background:#2563eb;

color:white;

cursor:pointer;

border-radius:0 8px 8px 0;

}

.options{

display:flex;

justify-content:space-between;

margin-bottom:20px;

font-size:14px;

}

.options a{

text-decoration:none;

color:#2563eb;

}

.loginBtn{

width:100%;

padding:14px;

background:#2563eb;

border:none;

color:white;

font-size:17px;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

.loginBtn:hover{

background:#1746a2;

}

.register{

margin-top:20px;

text-align:center;

}

.register a{

text-decoration:none;

color:#2563eb;

font-weight:600;

}

#message{

margin-top:20px;

text-align:center;

font-weight:bold;

}

@media(max-width:850px){

.container{

flex-direction:column;

width:95%;

height:auto;

}

.left{

display:none;

}

.right{

padding:40px;

}

}